body {
    background-color: #93BFEB;
}

h2 {
    background-color: CornflowerBlue;
	display: 	block; 
	text-align:	center;
	width: 100%;
	font-weight: bold;
    font-size:	28pt;
	text-transform: capitalize;
	font-family: "Times New Roman", Times, serif;
}

h3 {
    background-color: CornflowerBlue;
	display: 	block; 
	text-align:	center;
	width: 100%;
	font-weight: bold;
    font-size:	22pt;
	text-transform: capitalize;
	font-family: "Times New Roman", Times, serif;
}

p {
    text-indent: 10px;
    font-size: 15pt;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

ul,li {
    margin: 0;
    font-size: 100%;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
}

th {
    font-size: 14pt;
}

table, th, td {
    border: 2px solid black;
    margin-left: 1cm;
    width: 50%;
    height: 24px;
    padding: 7px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    content: center;
}

p#person {
    text-transform: uppercase;
    margin-left: 11cm;
}

div#fala_text {
    margin-left: 7cm;
}

div#data {
    margin-left: 20px;
}

div.refer {
    text-transform: uppercase;
}

div#cabecalho, #navegacao, #conteudo{
    display: block; 
	border:	5px;
	border-style: solid;
    border-color:SteelBlue;
	padding: 10px;
	margin:	10px;
}